<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cyber Security Solutions</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}" />
</head>

<body>

    <!-- Hero Section -->
    <section id="home" class="hero">
        <div class="hero-content">
            <h2>NURASCAN</h2>
            <p>Efficient scanning to identify and resolve security vulnerabilities in your systems</p>
            <!-- Link to Sign Up Page -->
            <a href="signup" class="btn">Sign Up</a>
        </div>
    </section>

    <!-- Footer -->
    <footer>
        <p>&copy; 2025 Cyber Shield. All Rights Reserved.</p>
    </footer>

</body>

</html>